main {
	height: 560px;
	width: 900px;
	background-color: lightblue;
	margin: auto;
	position: relative;
	background-image: url('../images/scene3.png');
	background-size: 910px;
}

#foreground {
	width: 900px;
	position: absolute;
	bottom: 0px;
    z-index: 1;
}

#cover {
	height: 50px;
	width: 900px;
	margin: auto;
	background-color: white;
	position: absolute;
	bottom: -50px;
	z-index: 1;
}

#score {
	display: inline-block;
}

#scoreText {
	display: inline-block;
}

#scoreNumber {
	display: inline-block;
}

#lives {
	display: inline-block;
}

#livesText {
	display: inline-block;
}

#livesNumber {
	display: inline-block;
}

#perch {
	width: 170px;
	position: absolute;
    right: 0px;
    top: 143px;
}

#pikachu {
	height: 160px;
    position: absolute;
    right: 0px;
    top: 2px;
    z-index: 1;
}

#left {
	height: 139px;
    position: absolute;
    bottom: -11px;
    left: 106px;
}

#center {
	height: 139px;
    position: absolute;
    bottom: -29px;
    left: 375px;
}

#right {
	height: 139px;
    position: absolute;
    bottom: -34px;
    right: 106px;
}